<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <!-- Main plugin class -->
    <class>com.i7.openfire.push.plugin.PushingPlugin</class>

    <!-- Plugin meta-data -->
    <name>Pushing</name>
    <description>It enables to send push notifications to mobile devices when the user is offline.</description>
    <author>gcasanova</author>

    <version>1.0</version>
    <date>30/04/2016</date>
    <url>http://www.igniterealtime.org/projects/openfire/plugins.jsp</url>
    <minServerVersion>3.0.0</minServerVersion>
    <licenseType>gpl</licenseType>

    <!-- Admin console entries -->
    <adminconsole>
        <!-- More on this below -->
    </adminconsole>
</plugin>